params {
  bbmap = 'cathrine98/bbmap'
  multiqc = "ewels/multiqc"
  fastqc = "staphb/fastqc"
  quast = "staphb/quast"
  bowtie2 = "quay.io/biocontainers/bowtie2:2.4.4--py38h72fc82f_0"
  samtools = "staphb/samtools"
  spades = "staphb/spades"
  khmer = "quay.io/biocontainers/mulled-v2-665bd99fae4b03b16fc6212aec473fdcacf0b19d:68271196de0894aac6d9bbc399ad1bb8000c8e4c-0"
  unicycler = "staphb/unicycler"
  abacas = "quay.io/biocontainers/abacas:1.3.1--pl5262hdfd78af_1"
  sratoolkit = "aokad/sra-toolkit"
}